/* mas start */
.mas-ac-items{
  width: 100%;
  background-image: linear-gradient(#f6f6f6, #ededed);
  padding: 10px 15px;
  margin: 5px 0px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px #BDBDBD;
}
.mas-side-items a{
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #BDBDBD;
  background-color: #b4acf2;
  padding-left: 30px;
}
.mas-side-items .active{
  background-color: #fff;
}
.mas-banner-sec{
  box-shadow: 0px 1px 3px 0px #BDBDBD;
  padding: 10px 0px 10px 250px;

}
.mas-banner-img img{
  width: 100%;
}
.mas-banner-sec-profile{
  position: absolute;
  top: 200px;
  left: 50px;
}
.mas-banner-sec-profile img {
  width: 180px
}
.mas-main-sec{
  background-color: #f1f1f1;
  padding: 20px;
}
.mas-main-sec-item{
  background-color: #fff;
  padding: 20px;
}
.mas-main-sec-item-content .input-group{
  margin: 15px 0px;
}
.mas-main-sec-item-content img{
  width: 100%;
}
.mas-main-sec-item-content .input-group-text{
  background-color: #b4acf2;
}
.mas-main-sec-item-content input{
  background-color: #f1f1f1;
}
.mas-main-sec-item-header{
  background-color: #3cba54;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  color:#fff;
}

.mas-con-items{
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px 0px;
  margin-bottom: 50px;
}
.mas-con-items span{
  background-color: #b4acf2;
  padding: 10px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.btn-primar {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border : 1px solid black;
}
.btn-primar img {
  width: 30px;
}
.btn-primar i {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50%;
}

.card{
  box-shadow: 0px 0px 0px 0px #BDBDBD;
  border: 0px solid #000;
}
.card-header{
  background-color: #45679A;
  color: #FFF;
  border-bottom: 3px solid #fff;
}
.card-header a{
  color: #FFF;
  text-decoration: none;
}

.comments-main{
  background: #FFF;
}
.comment time, .comment:hover time,.icon-rocknroll, .like-count {
  -webkit-transition: .25s opacity linear;
  transition: .25s opacity linear;
}
.comments-main ul li{
  list-style: none;
}
.comments .comment {
  padding: 14px 18px;
  background: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0px 3px 6px 0px #BDBDBD;
}
.c-count{
  background-color: gray;
  height: 22px;
  width: 15px;
}
.comments .comment:hover time{
  opacity: 1;
}
.comments .user-img img {
  width: 35px;
  height: 35px;
}
.comments .comment h4 {
  display: inline-block;
  font-size: 16px;
}
.comments .comment h4 a {
  color: #404040;
  text-decoration: none;
}
.comments .comment .icon-rocknroll {
  color: #545454;
  font-size: .85rem;
}
.comments .comment .icon-rocknroll:hover {
  opacity: .5;
}
.comments .comment time,.comments .comment .like-count,.comments .comment .icon-rocknroll {
  font-size: .75rem;
  opacity: 0;
}
.comments .comment time, .comments .comment .like-count {
  font-weight: 300;
}
.comments .comment p {
  font-size: 13px;
}
.comments .comment p .reply {
  color: #BFBFA8;
  cursor: pointer;
}
.comments .comment .active {
  opacity: 1;
}
.icon-rocknroll {
  background: none;
  outline: none;
  cursor: pointer;
  margin: 0 .125rem 0 0;
}
.comments .comment:hover .icon-rocknroll,.comments .comment:hover .like-count {
  opacity: 1;
}
like{
  font-size: 12px;
  margin-right: 5px;
  color:#7599d0
}
reply{
  font-size: 12px;
  margin-right: 5px;
  color:#7599d0
}
solved{
  font-size: 12px;
  margin-right: 5px;
  color:#7599d0
}
@media (min-width: 320px) and (max-width: 480px){
  .comments .comment h4 {
    font-size: 12px;
  }
  .comments .comment p{
    font-size: 11px;
  }
  .comment-box-main .send-btn button{
    margin-left: 5px;
  }
}
/* mas end */



.carousel {
  background:#007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

.pnt{
  border-radius: 20px;
}
.bydo{
  width: 140px;
  box-shadow: 2px 4px #17a2b8;
}
.bydo1{
  width: 140px;
  border-radius: 3px;
  border: 1px solid #6c757d;
  box-shadow: 3px 5px #CDD8EC;
  /* D5D5D5*/
}
.icon{
  font-size: 12px;
  color: #FFE804;
}
.view{
  font-size: 12px;
  margin-top: 4px;
}
.course{
  background-color: #7F4EDB;
  border-radius: 20px;
  
}
.course2{
  background-color: #f58787 ;
 
}
.ba{
  bottom: -6px;
  left: 10px;
}
.ba1{
  bottom: 18px;
  right: 70px;
}

.course1{
  background-color: #45679a;
}
.phy{
  border-radius: 15px;
}

.body1 {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(180deg, #45679A, #fff);
    background-repeat: no-repeat
}

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}
.ta-pro{
  border-radius: 10px;
}









@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}


@media screen and (min-width: 576px) {

  
  .teacher{
  height: 140px;
  width: 140px;
  
  }
  .s-video{
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .banner-text{
    text-align: right;
    position:relative;
    top:-95px;
  }
}



@media screen and (max-width: 575px){
  .sfx4{
    padding-bottom: 30px;
    margin-left: 40px;
  }
  .sfx5{
    height: 250px;
    width: 250px;
  }
  
.teacher{
  height: 120px;
  width: 120px;
  
  }
  .ta-pro{
    text-align: center;
  }
  .card-1{
    margin-top: 20px;
  }
  .icon-send{
    font-size: 15px;
  }
  .send-btn{
    margin-left: 10px;
  }
  .save-video{
    margin-top: 30px;
  }

}



