.list-group-item {
	border-radius: 0;
	border-width: 1px 0;
	color: #555;
	padding: 10px 15px;
	border: 1px solid #ddd;
	
}
body{
	font-size: 14px;
	line-height: 1.42857143;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
a:focus {
    outline-offset: -2px;
}

.card-info > .card-header {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.update_p{
	margin-left: 45%;
	margin-top: -16%;
}
.p_form{
	line-height:0.3;
}