/* news.html Page CSS starts */

* { box-sizing: content-box; }

p{
	font: 400 18px/30px "product_sansregular";
}

.grid-item {
  float: left;
  width: 25%;
  height: 400px;
  position:relative;
  overflow:hidden;
}

.grid-item:hover{
	cursor:pointer;
}

.grid-item-1{
	position:absolute;
	left:0 !important;
	top:0 !important;
}
.grid-item-2{
	position:absolute;
	left:50% !important;
	top:0% !important;
}
.grid-item-3{
	position:absolute;
	left:75% !important;
	top:0% !important;
}
.grid-item-4{
	position:absolute;
	left:50%  !important;
	top:50% !important;
}

@media (max-width:1550px){
	.grid-item-4{
	position:absolute;
	left:50%  !important;
	top:33.333% !important;
}
	.other-news{
		margin-top:-400px !important;
	}
	.news-pagination{
		margin: 10px !important;
	}
	* { box-sizing: border-box; }
}

.grid-item--width2 { width: 50%; }
.grid-item--height2 { height: 800px; }

.news-image{
	width:100%;
	height:100%;
	background-size:cover;
	transition:0.5s;
	z-index:-1;
}
.grid-item:hover .news-image{
	transform:scale(1.2);
	
}
.overlay-text{
	position:absolute;
	background:transparent;
	width:100%;
	height:100%;
	opacity:1;
	color:white;
	top:0;
	left:0;
	transition: 0.7s;
}


.overlay-all-tahajjat{
	position:relative;
	top:60%;
	bottom:10%;
	font-size:15px;
	font-weight:bold;
}

.overlay-p-tahajjat{
	position:absolute;
	top:60%;
	left:40%;
	font-size:15px;
	font-weight:bold;
}
.overlay-h-tahajjat{
	position: absolute;
	bottom: 5%;
	left: 0;
	margin:5px;
	font-size: 25px;
	font-weight:bold;
}
.overlay-p{
	position:absolute;
	top:60%;
	left:40%;
	font-size:15px;
	font-weight:bold;
}
.overlay-h{
	position: absolute;
	top: 74%;
	left: 0;
	margin:5px;
	font-size: 25px;
	font-weight:bold;
}
.overlay-hw2-h{
	position:absolute;
	top:70%;
	left:0;
	margin: 5px;
	font-size:45px;
}
.details-link{
	color:  rgba( 77, 86, 86 , 0.9);
	font-weight:bold;
	transition:0.5s;
}

.details-link:hover{
	color : white;
}

.row{
	flex-wrap: nowrap;
}
.card .news_date{
	font: 400 14px/18px "product_sansregular";
    color: #00a0ea;
}

.card-title{
	transition:0.5s;
}

.card-title:hover{
	color:#00a0ea;
	cursor:pointer;
}
/* news.html Page CSS finishes */


/* event.html page CSS starts*/


.event_date .p_date {
    display: inline-block;
    padding: 22px 30px 17px;
    border-radius: 5px;
}

.event_date .p_date span {
    display: block;
}

.event_date .p_date span.day {
    color: #fff;
    font: 700 36px/30px "product_sansbold";
}

.event_date .p_date span.mon {
    color: #fff;
    font: 400 24px/30px "product_sansregular";
}

/* event.html page CSS finishes*/

/* single_event.html page CSS starts */

.post-content-img{
	position:relative;
}

/* "More Events" under the single_event.html CSS starts */
.post-content-img-overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(255,255,255,0.3);
	opacity:0;
	transition:0.7s;
}
.post-content-img:hover .post-content-img-overlay{
	opacity:1;
}
.post-content-img:hover a{
	text-decoration:underline;
}
.post-content-img:hover{
	cursor: pointer;
}
.news-image-single{
	width:270px;
	height:180px;
	background-size:cover;
}

.custom-horizontal-border{
	border-bottom: 3px solid black;
	margin-top: 10px;
}
/* single_event.html page CSS ends */