/* Start of photo-gallery CSS */

/* Starting of Isotope CSS */
.button-group button{
	border:none;
	background:none;
	outline:none;
	cursor:pointer;
}

.grid-item img{
	width:100%;
	height:100%;
}

.grid-item {
  float: left;
  width: 16.6667%;
  height: 400px;
  position:relative;
}
.grid-sizer{width:16.6667%;}

.grid-item--width2 { width: 33.333%; }

.grid-item--height2{ height:1000px;} /* It gains height 2.5 times */

.grid-item--height1-3{ height:600px;}

/* Finishing the isotope CSS */

.my-masonry-overlay{
	position:absolute;
	background:rgba( 217, 136, 128 ,0.45);
	width:100%;
	height:100%;
	opacity:0;
	top:0;
	left:0;
	transition:0.7s;
	transform: scale(1);
}

.grid-item:hover .my-masonry-overlay{
	opacity:1;
	transform: scale(0.95);
}

.my-masonry-overlay i{
	font-size: 50px;
	
}

/* Making the section responsive */
@media screen and (max-width:992px){
	
	.grid-item{
		width:50%;
	}
}

@media screen and (max-width:768px){
	.grid-item{
		width:50%;
	}
}

@media screen and (max-width:575px){
	.grid-item{
		width:100%;
	}
	
}
/* End of photo-gallery CSS */


/* Start of Contact & touch-map section CSS */
.contact{
	position:relative;
}

.contact-single i{
	color:#bcbcbc;
	border: 1px solid #bcbcbc;
	border-radius: 100%;
	width:50px;
	height:50px;
	line-height:50px;
	transition:0.7s;
}

.contact-single:hover i{
	color: #fd9736;
	border: 1px solid #fd9736;
}
.contact-single{
	display:block;
	z-index:1;
}

.form-single{
	width:570px;
}

.form-row input{
	border-radius:0;
	border: 1px solid #cdcdcd;
}

textarea.form-control{
	border-radius:0;
}
.form-single button{
	border-radius:0;
	font-weight:bold;
	font-size:14px;
}

#map{
	width:100%;
	height:100%;
}

.form-control:focus {
    box-shadow: none;
}

.no-padding{
	padding:0;
	margin:0;
}

.contact{
	background-image: linear-gradient(to right top, #d4e6f1, #cdedf0, #d1f2e6, #e2f5d8, #fcf3cf);
}

/* End of Contact & touch-map section CSS */