/* Start of photo-gallery CSS */

/* Starting of Isotope CSS */
.button-group button{
	border:none;
	background:none;
	outline:none;
	cursor:pointer;
}

.grid-item img{
	width:100%;
	height:100%;
}

.grid-item {
  float: left;
  width: 16.6667%;
  height: 400px;
  position:relative;
}
.grid-sizer{width:16.6667%;}

.grid-item--width2 { width: 33.333%; }
.grid-item--width4 { width: 66.667%; }

.grid-item--height2{ height:1000px;} /* It gains height 2.5 times */

.grid-item--height1-3{ height:600px;}

/* Finishing the isotope CSS */

.my-masonry-overlay{
	position:absolute;
	background:rgba( 217, 136, 128 ,0.45);
	width:100%;
	height:100%;
	opacity:0;
	top:0;
	left:0;
	transition:0.7s;
	transform: scale(1);
}

.grid-item:hover .my-masonry-overlay{
	opacity:1;
	transform: scale(0.95);
}

.my-masonry-overlay i{
	font-size: 50px;
	
}

/* Making the section responsive */
@media screen and (max-width:992px){
	
	.grid-item{
		width:50%;
	}
}

@media screen and (max-width:768px){
	.grid-item{
		width:50%;
	}
}

@media screen and (max-width:575px){
	.grid-item{
		width:100%;
	}
	
}


/* End of photo-gallery CSS */


/* Start of Contact & touch-map section CSS */
.contact{
	position:relative;
}

.contact-single i{
	color:#bcbcbc;
	border: 1px solid #bcbcbc;
	border-radius: 100%;
	width:50px;
	height:50px;
	line-height:50px;
	transition:0.7s;
}

.contact-single:hover i{
	color: #fd9736;
	border: 1px solid #fd9736;
}
.contact-single{
	display:block;
	z-index:1;
}

.form-single{
	width:570px;
}

.form-row input{
	border-radius:0;
	border: 1px solid #cdcdcd;
}

textarea.form-control{
	border-radius:0;
}
.form-single button{
	border-radius:0;
	font-weight:bold;
	font-size:14px;
}

#map{
	width:100%;
	height:100%;
}

.form-control:focus {
    box-shadow: none;
}

.no-padding{
	padding:0;
	margin:0;
}

.contact{
	background-image: linear-gradient(to right top, #d4e6f1, #cdedf0, #d1f2e6, #e2f5d8, #fcf3cf);
}

/* End of Contact & touch-map section CSS */




/* Start of the success_story.html CSS */


.overlay-text{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000;
}

.success-top{
	overflow:hidden;
	cursor:pointer;
}

.success-top img{
	transition:0.5s;
}

.success-top:hover img{
	transform:scale(1.2);
}

.card-img-top{
	transition: 0.5s;
}
.img-wrapper{
	overflow:hidden;
}
.card:hover img{
	transform:scale(1.2);
}
/* End of the success_story.html CSS */

/* Executive committee page styles starts */
.social-icon_partho i{
	background:gray;
	height:25px;
	width:25px;
	line-height:25px;
	border-radius:100%;
	color:#ffffff;
}

.social-icon_partho .fa-facebook-f{
	background:#3b5998;
	text-align: center;
}

.social-icon_partho .fa-twitter{
	background:#55ACEE;
	text-align: center;
}

.social-icon_partho .fa-pinterest-p{
	background:#CB2027;
	text-align: center;
}

.social-icon_partho .fa-linkedin-in{
	background:#007AB9;
	text-align: center;
}

.social-icon_partho i:hover{
	cursor:pointer;
}

.social-icon_partho .fa-facebook-f:hover{
	height:30px;
	width:30px;
	line-height:30px;
}

.social-icon_partho .fa-twitter:hover{
	height:30px;
	width:30px;
	line-height:30px;
}
.social-icon_partho .fa-pinterest-p:hover{
	height:30px;
	width:30px;
	line-height:30px;
}
.social-icon_partho .fa-linkedin-in:hover{
	height:30px;
	width:30px;
	line-height:30px;
}

.navigation_partho{
	background:url(../images/banner_img.jpg);
	background-size:cover;
	height:250px;
}
/* End of cimittee section */

/*Start of Job.html css */
.banner_partho{
	background:url(../images/banner-JobSearch.jpg);
	min-height:200px;
	background-size:cover;
}

/*Start of Job.html css */
.banner_partho_ta_contact{
	background:url(../images/contact-us-hero.jpg);
	min-height:200px;
	background-size:cover;
}

.banner-div_partho{
	position:relative;
	height:100%;
}
.search-icon_partho{
	position:absolute;
	top: 20%;
	left: 97%;
	font-size: 22px;
}
.btn-outline-danger{
	transition: 0.7s;
}
.btn-outline-danger:hover {
    color: #fff;
}

.banner-div_partho input{
	background: rgba(0,0,0,0.20);
	transition: 0.7s;
}

/* End CSS of Job.html */

/* Start of single_job.html CSS */

.banner-img-partho{
	background:url(../images/banner-JobSearch.jpg);
	background-size:cover;
}
.key-skill-list-partho li{
	flex-basis: 120px;
	border: 1px solid #dfdfdf;
	margin-bottom: 15px;
	text-align:center;
}

.key-skill-list-partho li a{
	font-size:14px;
	color:#666666;
	text-decoration:none;
	padding:7px 14px;
	transition:0.7s;
}

.key-skill-list-partho li:hover a{
	color:#fff;
	background:#ed2151;
}

.related-search-text-partho li{
	padding-bottom:15px;
	transition:0.7s;
}

.related-search-text-partho a{
	text-decoration:none;
	font-size:16px;
	color:#777;
	padding-left:7px;
	font-weight:500;
}

.related-search-text-partho i{
	font-size:9px;
	color:#7d7d7d;
}

.related-search-text-partho li:hover i{
	color: #ed2151;
}

.related-search-text-partho li:hover a{
	color: #2c2f33;
}

.related-search-text-partho li:hover{
	transform: translateX(5px);
}
/* End if single_job.html page CSS */

/* Start of job_landing.html page CSS */

.btn-primary-partho {
    background-color: #9a2a90;
	border-color: #9a2a90;
	color: #fff;
	border-radius: 5px;
	margin-left: -200%;
	width: 153px;
	transition: 0.7s;
}
.btn-primary-partho:hover{
	background-color:#3fa1a1;
	border-color:#3fa1a1;
}
.top-search-bar-partho input{
	background: #e7e3e3;
	border: #d4d4d4;
	transition:0.7s;
}
.top-search-bar-partho input:active{
	background:#fdfdfd
}
.post-content-img-wrapper-partho{
	overflow:hidden;
	max-width:270px;
	max-height:175px;
}
.post-content-img-wrapper-partho img{
	transition:0.7s;
}
.post-content-img-partho:hover img{
	transform: scale(1.2);
	cursor:pointer;
}
.post-content-img-partho:hover a{
	text-decoration:underline;
}
/* End CSS of job_landing.html */

/* Start of video_gallery.html css */
.custom-horizontal-border{
	border-bottom: 3px solid black;
	margin-top: 10px;
}
.modal-social-icon-partho .fa-facebook-f{
	height:20px;
	width:20px;
	padding:5px;
	border-radius:5px;
	background:#4267b2;
	color:#fff;
}

.modal-social-icon-partho .fa-twitter{
	color:#1b95e0;
	background: #ecf0f1 ;
	height:20px;
	width:20px;
	padding:5px;
	border-radius:5px;
}
.modal-social-icon-partho .fa-google-plus-g{
	color:#fff;
	background: #de5e53 ;
	height:20px;
	width:20px;
	padding-top:2px;
	padding-left:1px;
	border-radius:5px;
}
.modal-social-icon-partho .fa-linkedin-in{
	color:#fff;
	background: #006193 ;
	height:20px;
	width:20px;
	padding:3px;
	border-radius:5px;
}
a:hover h5{
	text-decoration:underline;
}

/* End of video_gallery.html css */

/* Start of erc.html css */

.each_erc_partho .card{
	transition:0.5s;
}

.each_erc_partho img {
  margin-top: -50px;
}


.each_erc_partho .card:hover {
  background: #3292a6 !important;
  color: #fff;
}

/* End of erc.html css */


/* akass */

.navigation_partho1{
	background:url(../images/t&d.jpg);
	background-size:cover;
	height:250px;
}
.navigation_partho2{
	background:url(../images/Careerheader.jpg);
	background-size:cover;
	height:250px;
}

.navigation_partho3{
	background:url(../images/Projectheader.jpg);
	background-size:cover;
	height:250px;
}

.navigation_partho4{
	background:url(../images/inhtraining.jpg);
	background-size:cover;
	height:250px;
}



.each_erc_partho1 .card{
	transition:0.5s;
}
.each_erc_partho1 img {
    margin-top: 0px;
}
.each_erc_partho1 .card:hover {
  background: #3292a6 !important;
  color: #fff;
}


.akass_img 
	{
    width: 100%;
    padding-top: 100px;
}

/* Start of search.html CSS */

.bg-custom-partho{
	background-color:  #ecf0f1  ;
}

#search{
	border-radius: 0px;
}

#result .table td, .table th {
    vertical-align: middle;
	border-top: 3px solid  #b3b6b7 ;
}

#result table {
     background-image: linear-gradient(to right bottom, #fdfdfd, #f4f4f4, #ebebeb, #e3e3e3, #dadada);
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search .padding-right{
	padding-right: 92px;
}
/* end of seach.html */
#comittee_search_bar_partho{
	 background-image: radial-gradient(circle, #579ca3, #30b6a6, #43cd8e, #85de60, #d4e716);
}
.comittee-card-partho{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-wrapper img{
	background-size:cover;
}