*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.panel_heading_saz {
    font-size: 18px;
    padding: 7px 15px;
}

.content_title_saz {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

.profile_view_saz {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 15px;
}

.profile_view_saz .form-group{
    margin-bottom: 0px;
}

.profile_view_saz .control-label {
    padding-top: 0px;
    margin-bottom: 0;
    text-align: left;
    font-size: 13px;
}

.profile_form_horizontal_saz{
    font-size: 13px;
}

.profile_pic_saz{
    width: 150px;
}