/* Login Form CSS start here*/


#home-section {
  background: url("../images/banner_img.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  color: #fff;
  position:relative;
}
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }
  #home-section .home-inner {
    padding-top: 150px;
  }
  
   #home-section .home-inner-Tahajjatt {
    padding-top: 30px;
  }
  
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
  }



.card{
	border:0;
}
.card-body h2{
	color:#444444;
	font-size:28px;
}
.card-body p{
	color:#777777; 
	font-size:18px;
}
.login-form .form-group {
    border-radius: 10px;

}
.col-lg-4 {
    border-radius: 10px;
}
.login-form .form-control {
  background: #e7e3e3;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  transition: 0.55s;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
}

.login-form .form-control:focus{
	background:#fff;
	box-shadow:none;
}

.login-form .form-group {
  margin-bottom:10px;
}

.submit-button{
	width:40%;
	margin:20px 30%!important;
	background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	transition: background 0.7s ease-in-out;
}
.submit-button:hover {
     background: linear-gradient(to right top, #a8eb12, #00bf72, #008793, #004d7a, #051937);
}


.forgot a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.forgot {
  text-align: center; 
  margin-bottom:30px;
}
/* Login Form CSS ends here*/


/* Register Form CSS start here*/

.border-light {
    border-color: #e5eff9 !important;
}

.radio_label {
    margin-left: -38% !important;
}
/* Register Form CSS ends here*/

/* Start of about page CSS */
.section-banner {
	background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	height:300px;
	background-position: center; 
}

.carousel-indicators{
	top: 100%;
}
/* End of about page CSS */


/*Start of feature news CSS */
.banner-img{
	width:100%;
	background-size:cover;
}
.custom-horizontal-border{
	border-bottom: 3px solid black;
	margin-top: 10px;
}
p{
	font: 400 18px/30px "product_sansregular";
}

.post-heading h3{
	letter-spacing:3px;
}
.news-image{
	width:270px;
	height:175px;
}
.post-content-img{
	position:relative;
	overflow:hidden;
}
.post-content-img-overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(255,255,255,0.3);
	opacity:0;
	transition:0.7s;
}
.post-content-img:hover .post-content-img-overlay{
	opacity:1;
}
.post-content-img:hover a{
	text-decoration:underline;
}
.post-content-img:hover{
	cursor: pointer;
}
/*End of feature news CSS */

/* single_event.html page CSS starts */

.post-content-img{
	position:relative;
}

/* "More Events" under the single_event.html CSS starts */

.event_date .p_date {
    display: inline-block;
    padding: 22px 30px 17px;
    border-radius: 5px;
}

.event_date .p_date span {
    display: block;
}

.event_date .p_date span.day {
    color: #fff;
    font: 700 36px/30px "product_sansbold";
}

.event_date .p_date span.mon {
    color: #fff;
    font: 400 24px/30px "product_sansregular";
}

.post-content-img-overlay{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(255,255,255,0.3);
	opacity:0;
	transition:0.7s;
}
.post-content-img:hover .post-content-img-overlay{
	opacity:1;
}
.post-content-img:hover a{
	text-decoration:underline;
}
.post-content-img:hover{
	cursor: pointer;
}
.news-image-single{
	width:270px;
	height:180px;
	background-size:cover;
}

.custom-horizontal-border{
	border-bottom: 3px solid black;
	margin-top: 10px;
}
/* single_event.html page CSS ends */

/* single_stories.html CSS */
.banner-img-wrapper{
	position:relative;
}

.overlay-text{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000;
}

.post-content-img-wrapper{
	overflow:hidden;
}
.post-content-img-wrapper img{
	transition:0.7s;
}
.post-content-img-partho:hover img{
	transform: scale(1.2);
}