/*p{
        line-height:30px;
        letter-spacing:4px;
}*/


p{
    font: 400 18px/30px "product_sansregular";
}


/* Login Form CSS start here*/

.card{
    border:0;
}
.card-body h2{
    color:#444444;
    font-size:28px;
}
.card-body p{
    color:#777777; 
    font-size:18px;
}
.login-form .form-control {
    background: #e7e3e3;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    transition: 0.55s;
    width: 50%;
    padding: 15px;
    margin: 0 auto;
}

.login-form .form-control:focus{
    background:#fff;
    box-shadow:none;
}

.login-form .form-group {
    margin-bottom:10px;
}

.submit-button{
    width:40%;
    margin:20px 30%!important;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    transition: background 0.7s ease-in-out;
}
.submit-button:hover {
    background: linear-gradient(to right top, #a8eb12, #00bf72, #008793, #004d7a, #051937);
}


.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.forgot {
    text-align: center; 
    margin-bottom:30px;
}
/* Login Form CSS ends here*/


/* Register Form CSS start here*/

.border-light {
    border-color: #e5eff9 !important;
}

.radio_label {
    margin-left: -38% !important;
}
/* Register Form CSS ends here*/





/* Start of about page CSS */
.section-banner {
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height:300px;
    background-position: center; 
}

.carousel-indicators{
    top: 100%;
}
/* End of about page CSS */


/*Start of feature news CSS */
.banner-img{
    width:100%;
    background-size:cover;
}
.custom-horizontal-border{
    border-bottom: 3px solid black;
    margin-top: 10px;
}



.post-heading h3{
    letter-spacing:3px;
}
.news-image{
    width:270px;
    height:175px;
    background-size:cover;
}
.post-content-img{
    position:relative;
}
.post-content-img-overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(255,255,255,0.3);
    opacity:0;
    transition:0.7s;
}
.post-content-img:hover .post-content-img-overlay{
    opacity:1;
}
.post-content-img:hover a{
    text-decoration:underline;
}
.post-content-img:hover{
    cursor: pointer;
}
/*End of feature news CSS */