/*----------------------------------------------------*/
/* fonts  */
@font-face {
    font-family: 'product_sansbold';
    src: url("../fonts/product_sans_bold.woff2") format("woff2"), url("../fonts/product_sans_bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'product_sansregular';
    src: url("../fonts/product_sans_regular.woff2") format("woff2"), url("../fonts/product_sans_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*fonts Variables*/
/*Color Variables*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------           global style                ---------------------------*/
body {
    font-family: "product_sansregular";
    background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1200px;
}

.custom_pad {
    padding: 0 0;
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.d_flex {
    display: flex;
}

.d_align {
    align-items: center;
}

.bg_yellow {
    background: #ff9000;
}

.bg_white {
    background: #fff;
}

.mb_show {
    display: none;
}

.sec_title {
    position: relative;
    padding-left: 20px;
    color: #222222;
    font: 700 30px/40px "product_sansbold";
    margin-bottom: 40px;
}

.sec_title:before {
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    height: 24px;
    width: 4px;
    border-left: 3px solid #00a0ea;
}

.view_all {
    color: #666666;
    font: 400 16px/30px "product_sansregular";
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    position: relative;
}

.view_all:hover {
    color: #00a0ea;
}

.view_all:hover:before {
    opacity: 1;
    bottom: 5px;
}

.learn_more_btn {
    padding: 20px 0;
}

.learn_more_btn .learn_more {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #00a0ea;
    font: 400 16px/18px "product_sansregular";
    border-radius: 5px;
    padding: 16px 38px;
    transition: all 0.5s;
    border: 1px solid #00a0ea;
}

.learn_more_btn .learn_more:hover {
    color: #00a0ea;
    background: transparent;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=================    header style ==========================*/
header.header {
    background: #fff;
    padding: 20px 0 0;
}

header.header .header_left {
    padding-left: 0;
}

header.header .header_left .logo a {
    display: inline-block;
}

header.header .header_left .logo a img {
    max-width: 80px;
    width: 100%;
    margin-top: 4px;
}

header.header .header_right {
    padding-left: 30px;
    padding-right: 0;
}

header.header .header_right .header_top_wrap {
    border-bottom: 1px solid #ebebeb;
}

header.header .header_right .header_top_wrap .navbar {
    padding: 0 0 20px;
}

header.header .header_right .header_top_wrap .navbar .header_top_menu li a {
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    color: #666666;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

header.header .header_right .header_top_wrap .navbar .header_top_menu li a span {
    display: inline-block;
}

header.header .header_right .header_top_wrap .navbar .header_top_menu li a .icon {
    margin-right: 10px;
}

header.header .header_right .header_top_wrap .navbar .header_top_menu li a .icon img {
    max-width: 27px;
    width: 100%;
}

header.header .header_right .header_top_wrap .navbar .header_top_menu li:last-child a {
    margin-right: 0;
}

header.header .header_right .header_top_wrap .navbar .header_top_menu li:hover a {
    color: #00a0ea;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    position: relative;
    margin-right: 35px;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input .form-control {
    border: none;
    width: 500px;
    padding-left: 48px;
    height: 38px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input .form-control:focus {
    box-shadow: none;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input .form-control::-moz-placeholder {
    color: #aeaeae;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input .form-control::-webkit-input-placeholder {
    color: #aeaeae;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input .form-control:placeholder {
    color: #aeaeae;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input a {
    position: absolute;
    left: 20px;
}

header.header .header_right .header_top_wrap .navbar .form-inline .search_input a img {
    max-width: 18px;
}

header.header .header_right .header_top_wrap .navbar .form-inline a {
    display: inline-block;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s;
}

header.header .header_right .header_top_wrap .navbar .form-inline a:hover {
    color: #00a0ea;
}

header.header .header_right .header_top_wrap .navbar .form-inline a img {
    display: inline-block;
    margin-right: 10px;
}

header.header .header_right .header_top_wrap .navbar .form-inline.search_form .login img {
    max-width: 18px;
    width: 100%;
}

header.header .header_right .header_bottom_wrap .navbar {
    padding: 13px 0 0;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li {
    padding-bottom: 19px;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li a {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    /* margin-right: 45px;*/
    margin-right: 25px;
    transition: all 0.5s;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item li a {
    font-size: 14px;
    line-height: 26px;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li a:hover {
    color: #00a0ea;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li:last-child a {
    margin-right: 0;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-toggle:after {
    display: none;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu {
    min-width: 600px;
    /*  padding: 20px 30px; */
    padding: 20px 10px;
    position: absolute;
    top: 41.5px;
    border: none;
    border-radius: 0px;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item li {
    padding-bottom: 7px;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown:hover .dropdown-menu.mega_menu {
    display: flex;
}

.btn_right .navbar-toggler {
    height: 20px;
    position: absolute;
    right: 0;
    top: 43px;
    z-index: 1080;
}

.btn_right .navbar-toggler:focus {
    outline: none;
}

.btn_right .navbar-toggler .bar {
    position: absolute;
    width: 100%;
    right: 0;
    height: 2px;
    background: #666;
    width: 25px;
    transition: all 0.5s;
}

.btn_right .navbar-toggler .bar.bar-1 {
    top: 0;
    width: 40px;
}

.btn_right .navbar-toggler .bar.bar-2 {
    top: 50%;
    transform: translateY(-50%);
}

.btn_right .navbar-toggler .bar.bar-3 {
    bottom: 0;
    top: auto;
    width: 30px;
}

.btn_right .navbar-toggler[aria-expanded="true"] .bar {
    background: #00a0ea;
}

.btn_right .navbar-toggler[aria-expanded="true"] .bar.bar-2 {
    width: 45px;
}

/*=================    header style ==========================*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============           banner_wrap               ==================*/
.banner_wrap {
    position: relative;
    /* background-image: url(../images/banner_img.jpg);*/
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
}

.banner_wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(70deg, #00a0ea 62%, transparent 39%);
    opacity: 0.6;
}

.banner_wrap .banner_inner {
    padding: 0;
}

.banner_wrap .banner_inner .banner_containt {
    margin: 150px 0 180px;
    max-width: 800px;
}

.banner_wrap .banner_inner .banner_containt .sub_title {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-family: "product_sansregular";
    margin-bottom: 10px;
}

.banner_wrap .banner_inner .banner_containt .title {
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    font-family: "product_sansbold";
    margin-bottom: 30px;
}

.banner_wrap .banner_inner .banner_containt .details {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "product_sansregular";
    margin-bottom: 48px;
}

.banner_wrap .banner_inner .banner_containt .btn_group .btn_glob {
    color: #fff;
    font: 400 16px/18px "product_sansregular";
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 30px;
    margin-right: 25px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.banner_wrap .banner_inner .banner_containt .btn_group .btn_glob:last-child {
    margin-right: 0;
}

.banner_wrap .banner_inner .banner_containt .btn_group .btn_glob.btn_more {
    background: #ff9000;
    border-color: #ff9000;
}

.banner_wrap .banner_inner .banner_containt .btn_group .btn_glob.btn_more:hover {
    background: transparent;
    border-color: #fff;
}

.banner_wrap .banner_inner .banner_containt .btn_group .btn_glob:hover {
    background: #ff9000;
    border-color: #ff9000;
}

.banner_wrap .banner_caption {
    background: rgba(9, 47, 145, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 0 9px;
    width: 100%;
}

.banner_wrap .banner_caption p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.notice_wrap {
    position: relative;
    /* background-image: url(../images/banner_img.jpg);*/
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
}
.notice_wrap .notice_caption {
    /* background: rgba(9, 47, 145, 0.6);*/
    background:#4600ea;
    /*  background-image: linear-gradient(70deg, #00a0ea 62%, transparent 39%); */
    /*
    position: absolute;
    bottom: 0;
    left: 0; */
    padding: 15px 0 9px;
    width: 100%;
    /* opacity: 0.6; */
}

.notice_wrap .notice_caption p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.about_wrap {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.about_wrap .gear_icon {
    position: absolute;
    top: -205px;
    right: -250px;
}

.about_wrap .about_content {
    max-width: 575px;
    /*  padding-top: 55px; */
    padding-top: 20px;
}

.about_wrap .about_content .about_sub_title {
    color: #00a0ea;
    font: 400 24px/30px "product_sansregular";
}

.about_wrap .about_content .about_title {
    color: #222222;
    font: 700 36px/40px "product_sansbold";
    margin-bottom: 25px;
}

.about_wrap .about_content .about_para {
    color: #666666;
    font: 400 18px/30px "product_sansregular";
    margin-bottom: 20px;
}

.about_wrap .about_img_wrap .about_img {
    position: relative;
}

.about_wrap .about_img_wrap .about_img .img_1 {
    width: 100%;
    -webkit-box-shadow: 7.765px 28.978px 58.9px 3.1px rgba(0, 0, 0, 0.1);
    box-shadow: 7.765px 28.978px 58.9px 3.1px rgba(0, 0, 0, 0.1);
}

.about_wrap .about_img_wrap .about_img .shap_1 {
    position: absolute;
    bottom: -4px;
    left: -47px;
}

.about_wrap .about_img_wrap .about_img .shap_2 {
    position: absolute;
    top: 30px;
    right: -40px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.news_img {
    position: relative;
}

.news_img img {
    width: 100%;
    border-radius: 5px 0 0 5px;
}

.news_img .p_date {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 10px 17px;
    border-radius: 5px;
}

.news_img .p_date span {
    display: block;
}

.news_img .p_date span.day {
    color: #fff;
    font: 700 30px/25px "product_sansbold";
}

.news_img .p_date span.mon {
    color: #fff;
    font: 400 20px/25px "product_sansregular";
}

.details_content .news_date {
    font: 400 14px/18px "product_sansregular";
    color: #00a0ea;
}

.details_content .news_title {
    font: 700 24px/28px "product_sansregular";
    color: #222222;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.details_content .news_title:hover {
    color: #00a0ea;
}

.details_content .news_para {
    font: 400 16px/24px "product_sansregular";
    color: #666666;
    margin-bottom: 15px;
}

.details_content .view_details {
    font: 400 14px/30px "product_sansregular";
    color: #666666;
    display: inline-block;
    transition: all 0.5s;
}

.details_content .view_details:hover {
    color: #00a0ea;
}

.details_content .read_more {
    margin-top: 15px;
}

.update_news_wrap {
    padding-bottom: 90px;
}

.update_news_wrap .news_large {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.update_news_wrap .news_large .details_content {
    padding: 20px 50px 20px 20px;
}

.update_news_wrap .news_large .details_content.color_width .news_date {
    color: #fff;
    margin-bottom: 13px;
}

.update_news_wrap .news_large .details_content.color_width .news_title {
    color: #fff;
    margin-bottom: 20px;
}

.update_news_wrap .news_large .details_content.color_width .news_title:hover {
    color: #00a0ea;
}

.update_news_wrap .news_large .details_content.color_width .news_para {
    color: #fff;
    margin-bottom: 25px;
}

.update_news_wrap .news_large .details_content.color_width .view_details {
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 37px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    transition: all 0.5s;
}

.update_news_wrap .news_large .details_content.color_width .view_details:hover {
    background: #fff;
    color: #ff9000;
}

.update_news_wrap .news_small .news_single_item {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s;
    margin-bottom: 30px;
}

.update_news_wrap .news_small .news_single_item .news_img {
    overflow: hidden;
}

.update_news_wrap .news_small .news_single_item .news_img img {
    transform: scale(1);
    transition: all 0.5s;
}

.update_news_wrap .news_small .news_single_item:hover {
    box-shadow: 0px 12px 33.25px 1.75px rgba(0, 0, 0, 0.05);
}

.update_news_wrap .news_small .news_single_item:hover .news_img img {
    transform: scale(1.05);
}

.update_news_wrap .news_small .news_single_item .details_content {
    padding: 30px 30px 20px;
}

.pub_info {
    margin: -7px 0 15px;
    padding: 0;
    list-style: none;
}

.pub_info li {
    display: inline-block;
    margin-right: 20px;
    color: #666;
    font: 400 14px/30px "product_sansregular";
}

.pub_info li .icon {
    margin-right: 10px;
    margin-top: -3px;
}

.event_single_item {
    border-top: 1px solid #ebebeb;
    padding: 30px 0;
}

.event_single_item:last-child {
    border-bottom: 1px solid #ebebeb;
}

.event_single_item .event_item .event_date {
    margin-right: 100px;
}

.event_single_item .event_item .event_date .p_date {
    display: inline-block;
    padding: 22px 30px 17px;
    border-radius: 5px;
}

.event_single_item .event_item .event_date .p_date span {
    display: block;
}

.event_single_item .event_item .event_date .p_date span.day {
    color: #fff;
    font: 700 36px/30px "product_sansbold";
}

.event_single_item .event_item .event_date .p_date span.mon {
    color: #fff;
    font: 400 24px/30px "product_sansregular";
}

.event_single_item .event_item .event_content {
    margin-right: 40px;
}

.event_single_item .event_img img {
    width: 100%;
    border-radius: 5px;
}

.photo_gallary_wrap {
    padding-bottom: 80px;
}

.photo_gallary_single_item {
    /*  margin-bottom: 30px;*/
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.5s;
    display: block;
}

.photo_gallary_single_item .photo_gallary_img img {
    width: 100%;
    /* border-radius: 5px; */
}

.photo_gallary_single_item .hover_content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 30px 23px;
    background-image: -weblkit-linear-gradient(transparent 0%, #000 100%);
    background-image: -moz-linear-gradient(transparent 0%, #000 100%);
    background-image: linear-gradient(transparent 0%, #000 100%);
    transition: all 0.5s;
    transform: translateY(10px);
    opacity: 1;
    width: 100%;
    box-shadow: 0px 21px 58.9px 3.1px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.photo_gallary_single_item .hover_content p {
    color: #fff;
    font: 400 16px/24px "product_sansregular";
}

.photo_gallary_single_item:hover {
    box-shadow: 0px 21px 58.9px 3.1px rgba(0, 0, 0, 0.3);
}

.photo_gallary_single_item:hover .hover_content {
    opacity: 1;
    transform: translateY(0);
}

.featured_video_wrap {
    padding-bottom: 75px;
}

.featured_video_wrap .featured_video {
    position: relative;
}

.featured_video_wrap .featured_video.active .featured_video_shap {
    display: none;
}

.featured_video_wrap .featured_video.active .hover_content {
    display: none;
}

.featured_video_wrap .featured_video.active .pay_icon {
    opacity: 0.1;
}

.featured_video_wrap .featured_video.active .featured_video_img .videoWrapper {
    display: block;
    overflow: hidden;
}

.featured_video_wrap .featured_video.active .featured_video_img .videoWrapper iframe.videoIframe {
    display: block;
}

.featured_video_wrap .featured_video .featured_video_shap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(70deg, #ff9000 50%, transparent 39%);
    opacity: 0.8;
    z-index: 1;
    border-radius: 5px 0 0 5px;
}

.featured_video_wrap .featured_video .featured_video_img {
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.featured_video_wrap .featured_video .featured_video_img img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
}

.featured_video_wrap .featured_video .featured_video_img .videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: none;
}

.featured_video_wrap .featured_video .featured_video_img .videoWrapper iframe.videoIframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

.featured_video_wrap .featured_video:hover .featured_video_img img {
    transform: scale(1.02);
}

.featured_video_wrap .featured_video .pay_icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    height: 50px;
    z-index: 1;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
}

.featured_video_wrap .featured_video .pay_icon .icon_inner {
    text-align: center;
    width: 100%;
}

.featured_video_wrap .featured_video .pay_icon .icon_inner img {
    max-width: 70px;
    width: 100%;
    display: inline-block;
}

.featured_video_wrap .featured_video .pay_icon .icon_inner a {
    outline: none;
}

.featured_video_wrap .featured_video .pay_icon .icon_inner a:focus {
    outline: none;
}

.featured_video_wrap .featured_video .hover_content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 50px 35px;
    z-index: 1;
}

.featured_video_wrap .featured_video .hover_content .details_content .news_date {
    color: #fff;
    margin-bottom: 15px;
}

.featured_video_wrap .featured_video .hover_content .details_content .news_title {
    color: #fff;
}

.featured_video_wrap .featured_main_video_item {
    outline: none;
}

.featured_video_wrap .featured_sing_item_wrap {
    width: 100%;
}

.featured_video_wrap .featured_single_item {
    padding: 0 15px;
    width: 20%;
    outline: none;
}

.featured_video_wrap .featured_single_item.slick-current .featured_video_small_item {
    border-color: #ff9000;
}

.featured_video_wrap .featured_single_item .featured_video_small_item {
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s;
    border: 2px solid transparent;
}

.featured_video_wrap .featured_single_item .featured_video_small_item:hover {
    box-shadow: 0px 12px 33.25px 1.75px rgba(0, 0, 0, 0.05);
}

.featured_video_wrap .featured_single_item .featured_video_small_item:hover .featured_video .featured_video_img img {
    transform: scale(1.2);
}

.featured_video_wrap .featured_single_item .featured_video_small_item:hover .featured_video_details h3 {
    color: #00a0ea;
}

.featured_video_wrap .featured_single_item .featured_video_small_item .featured_video .featured_video_img {
    margin-bottom: 13px;
    border-radius: 5px 5px 0 0;
}

.featured_video_wrap .featured_single_item .featured_video_small_item .featured_video .featured_video_img img {
    border-radius: 5px 5px 0 0;
    transition: all 0.5s;
}

.featured_video_wrap .featured_single_item .featured_video_small_item .featured_video .pay_icon .icon_inner img {
    max-width: 39px;
}

.featured_video_wrap .featured_single_item .featured_video_small_item .featured_video_details {
    padding: 0 20px 15px;
}

.featured_video_wrap .featured_single_item .featured_video_small_item .featured_video_details h3 {
    color: #222222;
    font: 400 16px/24px "product_sansregular";
    transition: all 0.5s;
}

.subcribe_wrap {
    margin-bottom: -70px;
    display: none;
}

.subcribe_wrap .subcribe_inner {
    background: url(../images/sub_bg.jpg) no-repeat scroll top left/100% 100%;
    border-radius: 5px;
    padding: 30px 50px;
}

.subcribe_wrap .subcribe_inner .subcribe_content .subcribe_title {
    color: #fff;
    font: 700 30px/40px "product_sansbold";
    margin-bottom: 3px;
}

.subcribe_wrap .subcribe_inner .subcribe_content .subcribe_para {
    color: #fff;
    font: 400 18px/30px "product_sansregular";
    margin-bottom: 5px;
}

.subcribe_wrap .subcribe_inner .subcribe_btn {
    padding-top: 5px;
}

.subcribe_wrap .subcribe_inner .subcribe_btn .btn_sub {
    display: inline-block;
    color: #00a0ea;
    font: 400 16px/18px "product_sansregular";
    background: #fff;
    padding: 16px 40px;
    border-radius: 5px;
    transition: all 0.5s;
    text-decoration: none;
    border: 1px solid #fff;
}

.subcribe_wrap .subcribe_inner .subcribe_btn .btn_sub:hover {
    color: #fff;
    background: #00a0ea;
}

.committee_message_wrap {
    background: url(../images/committee_bg.jpg) no-repeat scroll top left/100% 100%;
    padding: 110px 0 125px;
    margin-bottom: 100px;
}

.committee_message_wrap .message_tiele {
    color: #fff;
    font: 700 30px/40px "product_sansbold";
    margin-bottom: 40px;
}

.committee_message_wrap .committee_message_inner {
    max-width: 875px;
    width: 100%;
    margin: 0 auto;
}

.committee_message_wrap .committee_message_inner .committee_member {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    min-height: 120px;
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item {
    outline: none;
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item.slick-current .committee_member_img {
    width: 90px;
    height: 90px;
    transform: translateY(-10px);
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item.slick-current .committee_member_img img {
    box-shadow: 0px 12px 15.2px 0.8px rgba(0, 0, 0, 0.07);
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item.slick-current .committee_member_img:before {
    opacity: 0;
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item .committee_member_img {
    width: 70px;
    transform: scale(1);
    transition: all 0.5s;
    height: 70px;
    margin: 20px auto 10px;
    border-radius: 50%;
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item .committee_member_img:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00a0ea;
    border-radius: 50%;
    opacity: 0.3;
}

.committee_message_wrap .committee_message_inner .committee_member .committee_member_item .committee_member_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.committee_message_wrap .committee_message_inner .committee_member .slick-arrow {
    width: 26px;
}

.committee_message_wrap .committee_message_inner .committee_member .slick-arrow:before {
    display: none;
}

.committee_message_wrap .committee_message_inner .committee_member .slick-arrow.slick-prev {
    background: url(../images/left-arrow.png) no-repeat scroll center center/26px auto;
    left: -142px;
}

.committee_message_wrap .committee_message_inner .committee_member .slick-arrow.slick-prev:hover {
    background-image: url(../images/left-arrow-color.png);
}

.committee_message_wrap .committee_message_inner .committee_member .slick-arrow.slick-next {
    background: url(../images/right-arrow.png) no-repeat scroll center center/26px auto;
    right: -142px;
}

.committee_message_wrap .committee_message_inner .committee_member .slick-arrow.slick-next:hover {
    background-image: url(../images/right-arrow-color.png);
}

.committee_message_wrap .committee_message_inner .committee_member_details .committee_member_details_item {
    outline: none;
}

.committee_message_wrap .committee_message_inner .committee_member_details .committee_member_details_item .member_name {
    color: #fff;
    font: 700 24px/30px "product_sansbold";
}

.committee_message_wrap .committee_message_inner .committee_member_details .committee_member_details_item .member_title {
    color: #fff;
    font: 400 16px/24px "product_sansregular";
    margin-bottom: 15px;
}

.committee_message_wrap .committee_message_inner .committee_member_details .committee_member_details_item .member_details_wrap {
    background: #fff;
    padding: 40px 55px 30px;
    position: relative;
    border-radius: 5px;
}

.committee_message_wrap .committee_message_inner .committee_member_details .committee_member_details_item .member_details_wrap:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.committee_message_wrap .committee_message_inner .committee_member_details .committee_member_details_item .member_details_wrap .member_details {
    color: #666666;
    font: 400 16px/24px "product_sansregular";
    margin-bottom: 25px;
}

.committee_message_wrap .committee_message_inner .committee_member_details .slick-dots {
    bottom: -15px;
}

.committee_message_wrap .committee_message_inner .committee_member_details .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: #ebebeb;
}

.committee_message_wrap .committee_message_inner .committee_member_details .slick-dots li.slick-active {
    background: #00a0ea;
}

.committee_message_wrap .committee_message_inner .committee_member_details .slick-dots li button {
    display: none;
}

.success_wrap {
    padding-bottom: 100px;
    padding-top: 10px;
}

.success_wrap .sec_title {
    margin-bottom: 78px;
}

.success_wrap .succ_btn {
    position: absolute;
    right: 0;
    top: 20px;
}

.success_wrap .succ_btn .slick-arrow {
    position: absolute;
    top: -0;
    width: 26px;
}

.success_wrap .succ_btn .slick-arrow.slick-prev {
    background: url(../images/left-arrow.png) no-repeat scroll center center/26px auto;
    /* right: 60px; */
    right: 1100px;
    left: auto;
}

.success_wrap .succ_btn .slick-arrow.slick-prev:hover {
    background-image: url(../images/left-arrow-color.png);
}

.success_wrap .succ_btn .slick-arrow.slick-next {
    background: url(../images/right-arrow.png) no-repeat scroll center center/26px auto;
    right: 15px;
}

.success_wrap .succ_btn .slick-arrow.slick-next:hover {
    background-image: url(../images/right-arrow-color.png);
}


.success_wrap_Tah  .slick-arrow.slick-prev {
    background: url(../images/left-arrow.png) no-repeat scroll center center/26px auto;
    right: 60px;
    left: auto;
}

.success_wrap_Tah .slick-arrow.slick-prev:hover {
    background-image: url(../images/left-arrow-color.png);
}

.success_wrap_Tah .slick-arrow.slick-next {
    background: url(../images/right-arrow.png) no-repeat scroll center center/26px auto;
    right: 15px;
}

.success_wrap_Tah .slick-arrow.slick-next:hover {
    background-image: url(../images/right-arrow-color.png);
}




.success_wrap .succ_btn .slick-arrow:before {
    display: none;
}

.success_wrap .success_slider_wrap .success_slider_item {
    position: relative;
    transition: all 0.5s;
    margin-bottom: 110px;
    outline: none;
}

.success_wrap .success_slider_wrap .success_slider_item .success_slider_img {
    border-radius: 5px;
}

.success_wrap .success_slider_wrap .success_slider_item .success_slider_img img {
    /*    width: 100%;
        border-radius: 5px;*/
    margin:auto;
}

.success_wrap .success_slider_wrap .success_slider_item .success_story {
    background: #fff;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: -40px;
    left: 0;
    border-radius: 5px;
    padding: 35px 60px;
    right: 0;
}

.success_wrap .success_slider_wrap .success_slider_item .success_story h3 {
    color: #000000;
    font: 700 24px/28px "product_sansregular";
    margin-bottom: 15px;
}

.success_wrap .success_slider_wrap .success_slider_item .success_story p {
    color: #666666;
    font: 400 16px/24px "product_sansregular";
}

.success_wrap .success_slider_wrap .slick-current .success_slider_item {
    box-shadow: 0px 25px 80px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

.success_wrap .success_slider_wrap .slick-slide {
    outline: none;
}

.executive_wrap {
    padding: 0 0 100px;
}

.executive_wrap .sec_title {
    margin-bottom: 50px;
}

.executive_wrap .executive_single_item {
    padding: 0 15px;
    transition: all 0.5s;
    display: flex;
    align-items: flex-end;
    width: 19%;
}

.executive_wrap .executive_single_item.leader {
    width: 24%;
}

.executive_wrap .executive_slider_item {
    outline: none;
    margin-bottom: 40px;
    transition: all 0.5s;
    border-radius: 5px;
}

.executive_wrap .executive_slider_item:hover {
    box-shadow: 0px 17px 48.45px 2.55px rgba(0, 0, 0, 0.25);
}

.executive_wrap .executive_slider_item .executive_inner {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.executive_wrap .executive_slider_item .executive_inner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00a0ea;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.5s;
    transform: translateY(0px);
}

.executive_wrap .executive_slider_item .executive_inner:hover:before {
    opacity: 0.9;
    transform: translateY(0px);
}

.executive_wrap .executive_slider_item .executive_inner:hover .hover_content {
    background-image: none;
    transform: translateY(0px);
}

.executive_wrap .executive_slider_item .executive_inner .executive_img img {
    width: 100%;
}

.executive_wrap .executive_slider_item .executive_inner .hover_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    transform: translateY(110px);
    transition: all 0.5s;
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .member_name {
    color: #fff;
    font: 700 18px/20px "product_sansbold";
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .member_title {
    color: #fff;
    font: 400 16px/28px "product_sansregular";
    margin-bottom: 5px;
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .ticket {
    color: #fff;
    font: 400 14px/20px "product_sansregular";
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .catagory {
    color: #fff;
    font: 400 14px/28px "product_sansregular";
    margin-bottom: 18px;
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .follow_link {
    margin: 0;
    padding: 0;
    list-style: none;
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .follow_link li {
    display: inline-block;
    margin-right: 10px;
}

.executive_wrap .executive_slider_item .executive_inner .hover_content .follow_link li a {
    display: inline-block;
}

.subscribe_wrap_2 {
    margin-bottom: -108px;
}

.subscribe_wrap_2 .subscribe_inner {
    background: url(../images/sub_bg_2.jpg) no-repeat scroll top left/100% 100%;
    border-radius: 5px;
    padding: 75px 0;
    position: relative;
}

.subscribe_wrap_2 .subscribe_inner .shape_1 {
    position: absolute;
    left: -46px;
    bottom: -3px;
}

.subscribe_wrap_2 .subscribe_inner .shape_2 {
    top: 28px;
    right: -50px;
    position: absolute;
}

.subscribe_wrap_2 .subscribe_inner .subscript_title {
    color: #fff;
    font: 700 36px/40px "product_sansbold";
}

.subscribe_wrap_2 .subscribe_inner .sub_para {
    color: #fff;
    font: 400 18px/30px "product_sansregular";
    margin-bottom: 40px;
}

.subscribe_wrap_2 .subscribe_inner .sub_form {
    max-width: 650px;
    width: 100%;
    margin: 0 auto 5px;
}

.subscribe_wrap_2 .subscribe_inner .sub_form .form-control {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 30px;
    color: #fff;
    height: 50px;
    padding: 0 20px;
}

.subscribe_wrap_2 .subscribe_inner .sub_form .form-control::-webkit-input-placeholder {
    color: #fff;
}

.subscribe_wrap_2 .subscribe_inner .sub_form .form-control::-moz-placeholder {
    color: #fff;
}

.subscribe_wrap_2 .subscribe_inner .sub_form .form-control:-moz-placeholder {
    color: #fff;
}

.subscribe_wrap_2 .subscribe_inner .sub_form .form-control:-ms-input-placeholder {
    color: #fff;
}

.subscribe_wrap_2 .subscribe_inner .sub_form .btn {
    background: #fff;
    border: 1px solid #fff;
    color: #00a0ea;
    height: 50px;
    padding: 10px 40px;
    transition: all 0.5s;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.footer {
    background: #000022;
    padding: 225px 0 20px;
}
.footer1 {
    background: #000022;
    padding: 45px 0 20px;
}

.footer_top {
    border-bottom: 1px solid #3d4362;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.footer_single_item .footer_logo {
    margin-bottom: 75px;
}

.footer_single_item .footer_logo a {
    display: inline-block;
}

.footer_single_item .footer_title {
    color: #fff;
    font: 700 18px/24px "product_sansbold";
    margin-bottom: 20px;
}

.footer_single_item .social {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_single_item .social li {
    display: inline-block;
    margin-right: 30px;
}

.footer_single_item .social li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    filter: grayscale(100%);
}

.footer_single_item .social li a:hover {
    filter: grayscale(0);
}

.footer_single_item .contact_link {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_single_item .contact_link li a {
    display: inline-block;
    color: #8c8f9e;
    font: 400 16px/30px "product_sansregular";
    transition: all 0.5s;
}

.footer_single_item .contact_link li a:hover {
    color: #3c93d2;
    padding-left: 3px;
}

.footer_bottom .footer_bottom_inner .copy_right_text {
    color: #d7ddf9;
    font: 400 14px/30px "product_sansregular";
    float: left;
}

.footer_bottom .footer_bottom_inner .footer_bottom_menu {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.footer_bottom .footer_bottom_inner .footer_bottom_menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer_bottom .footer_bottom_inner .footer_bottom_menu li a {
    display: inline-block;
    color: #d7ddf9;
    font: 400 14px/30px "product_sansregular";
    transition: all 0.5s;
}

.footer_bottom .footer_bottom_inner .footer_bottom_menu li a:hover {
    color: #3c93d2;
}


/*------------------------Center Page---------------------------- */
#bg-img-ieb_mas{
    background-image: url(../images/committee_bg.jpg);

}
.each_centre_mas:nth-child(odd){
    background-image: linear-gradient(to right top, #d4e6f1, #cdedf0, #d1f2e6, #e2f5d8, #fcf3cf);
}
.each_centre_mas:nth-child(even){
    background: url(../images/imf.png);
}
.card-body_mas{
    min-height:360px;
}




/*---------------------------------------------------- */

.notice_th_marquee_home{
    color:#fff;
}
.notice_th_marquee_home:hover{
    text-decoration: underline !important;
    /*  color:#8c8f9e;*/
    color:#333333;
}

.about_banner_notice{
    padding: 8% 10px;    
    background: url('../../assets/notice_bg_img.jpg');
    position: relative;


}
.display_41_saz_notice {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}
.jb_breadcrumb_notice {
    position: absolute;
    bottom: -5%;
    left: 4%;
}


/*---------------------------------------------------- */

/*akass*/


header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li a {
    color: #666666;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-right: 45px;
    transition: all 0.5s;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item li a {
    font-size: 14px;
    line-height: 26px;
    color: #ffffff
}


header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item li a:hover {

    color: #c3c3c3;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item li hr {
    font-size: 14px;
    line-height: 26px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li a:hover {
    color: #007bff;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li:last-child a {
    margin-right: 0;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-toggle:after {
    display: none;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu {
    min-width: 600px;
    padding: 5px 5px;
    position: absolute;
    top: 41.5px;
    border: none;
    border-radius: 0px;
    background-color: #ff9000;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item {
    display: inline-block;
    margin: 0;
    padding: 4px;
    list-style: none;
    width: 50%;
}

header.header .header_right .header_bottom_wrap .navbar .navbar-collapse .header_main_menu li.dropdown .dropdown-menu.mega_menu .mega_menu_item li {
    padding: 5px;
}

hr{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-bottom: 0em;
    padding-bottom: 0px;
    background-color: #ffffff;
}



@media (min-width: 992px) {
    .cid-roP99H3n9h .mbr-figure {
        padding-right: 4rem;
    }
}
@media (max-width: 991px) {
    .cid-roP99H3n9h .mbr-figure {
        padding-bottom: 1rem;
    }
}


.media-content {
    -webkit-flex-basis: 100%;
    flex-basis: 100%; }



.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start; }
.media-container-row .media-size-item {
    width: 400px; }

@media (min-width: 992px) {
    .media-container-row {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }


/*
blockquote {
    font-size: em;
    width: 100%;
    margin: -1px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 0.5em 30px 1.2em 75px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


*/

/*update by akash*/


blockquote {
    font-size: .9em;
    width: 100%;
    margin: 0px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    /* padding: 1.2em 30px 1.2em 75px;*/
    padding: 1.2em 12px 1.2em 75px;
    border-left: 8px solid #007aff;
    border-right: 8px solid #007aff;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}
.wrapper {
    padding: 4.5em 0 2.5em 0 ;
    background-color: #ffffff;
    border-bottom: solid 2px #eeeeee;
}

.wrapper > .inner {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.wrapper > .inner.alt > * {
    border-top: solid 2px #eeeeee;
    margin-bottom: 0;
    margin-top: 3em;
    padding-top: 3em;
}

.wrapper > .inner.alt > *:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.wrapper.style1 {
    background-color: #4696e5;
    color: #d0e4f8;
}

.wrapper.style1 input[type="submit"],
.wrapper.style1 input[type="reset"],
.wrapper.style1 input[type="button"],
.wrapper.style1 button,
.wrapper.style1 .button {
    background-color: transparent;
    color: #ffffff !important;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="submit"]:hover,
.wrapper.style1 input[type="reset"]:hover,
.wrapper.style1 input[type="button"]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 input[type="submit"]:active,
.wrapper.style1 input[type="reset"]:active,
.wrapper.style1 input[type="button"]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input[type="submit"].special,
.wrapper.style1 input[type="reset"].special,
.wrapper.style1 input[type="button"].special,
.wrapper.style1 button.special,
.wrapper.style1 .button.special {
    box-shadow: none;
    background-color: #ffffff;
    color: #4696e5 !important;
}

.wrapper.style1 label {
    color: #ffffff;
}

.wrapper.style1 input[type="text"],
.wrapper.style1 input[type="password"],
.wrapper.style1 input[type="email"],
.wrapper.style1 select,
.wrapper.style1 textarea {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="text"]:focus,
.wrapper.style1 input[type="password"]:focus,
.wrapper.style1 input[type="email"]:focus,
.wrapper.style1 select:focus,
.wrapper.style1 textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .select-wrapper:before {
    color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="checkbox"] + label,
.wrapper.style1 input[type="radio"] + label {
    color: #d0e4f8;
}

.wrapper.style1 input[type="checkbox"] + label:before,
.wrapper.style1 input[type="radio"] + label:before {
    background-color: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="checkbox"]:checked + label:before,
.wrapper.style1 input[type="radio"]:checked + label:before {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #4696e5;
}

.wrapper.style1 input[type="checkbox"]:focus + label:before,
.wrapper.style1 input[type="radio"]:focus + label:before {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 ::-webkit-input-placeholder {
    color: #b5d5f4 !important;
}

.wrapper.style1 :-moz-placeholder {
    color: #b5d5f4 !important;
}

.wrapper.style1 ::-moz-placeholder {
    color: #b5d5f4 !important;
}

.wrapper.style1 :-ms-input-placeholder {
    color: #b5d5f4 !important;
}

.wrapper.style1 .formerize-placeholder {
    color: #b5d5f4 !important;
}

.wrapper.style1 .icon {
    color: #b5d5f4;
}

.wrapper.style1 .image {
    box-shadow: 0 0 0 4px #4696e5, 0 0 0 5px rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .image.phone {
    box-shadow: none;
}

.wrapper.style1 .image.phone .inner, .wrapper.style1 .image.phone:before, .wrapper.style1 .image.phone:after {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .image.phone .inner:before {
    background: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 .image.phone .inner:after {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 ul.alt > li {
    border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tbody tr {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 table th {
    color: #ffffff;
}

.wrapper.style1 table thead {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table tfoot {
    border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 table.alt tbody tr td {
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
    color: #d0e4f8;
}

.wrapper.style1 a {
    color: inherit;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
}

.wrapper.style1 strong, .wrapper.style1 b {
    color: #ffffff;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
    color: #ffffff;
}

.wrapper.style1 blockquote {
    border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 hr {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 {
    background-color: #fbfbfb;
    color: #999999;
}

.wrapper.style2 input[type="submit"],
.wrapper.style2 input[type="reset"],
.wrapper.style2 input[type="button"],
.wrapper.style2 button,
.wrapper.style2 .button {
    background-color: transparent;
    color: #828282 !important;
    box-shadow: inset 0 0 0 2px #e6e6e6;
}

.wrapper.style2 input[type="submit"]:hover,
.wrapper.style2 input[type="reset"]:hover,
.wrapper.style2 input[type="button"]:hover,
.wrapper.style2 button:hover,
.wrapper.style2 .button:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

.wrapper.style2 input[type="submit"]:active,
.wrapper.style2 input[type="reset"]:active,
.wrapper.style2 input[type="button"]:active,
.wrapper.style2 button:active,
.wrapper.style2 .button:active {
    background-color: rgba(144, 144, 144, 0.15);
}

.wrapper.style2 input[type="submit"].special,
.wrapper.style2 input[type="reset"].special,
.wrapper.style2 input[type="button"].special,
.wrapper.style2 button.special,
.wrapper.style2 .button.special {
    box-shadow: none;
    background-color: #4696e5;
    color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].special:hover,
.wrapper.style2 input[type="reset"].special:hover,
.wrapper.style2 input[type="button"].special:hover,
.wrapper.style2 button.special:hover,
.wrapper.style2 .button.special:hover {
    background-color: #5ca3e8;
}

.wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 button.special:active,
.wrapper.style2 .button.special:active {
    background-color: #3089e2;
}

.wrapper.style2 label {
    color: #828282;
}

.wrapper.style2 input[type="text"],
.wrapper.style2 input[type="password"],
.wrapper.style2 input[type="email"],
.wrapper.style2 select,
.wrapper.style2 textarea {
    color: inherit;
    background-color: rgba(144, 144, 144, 0.075);
    border-color: #e6e6e6;
}

.wrapper.style2 input[type="text"]:focus,
.wrapper.style2 input[type="password"]:focus,
.wrapper.style2 input[type="email"]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
    border-color: #4696e5;
    box-shadow: 0 0 0 1px #4696e5;
}

.wrapper.style2 .select-wrapper:before {
    color: #e6e6e6;
}

.wrapper.style2 input[type="checkbox"] + label,
.wrapper.style2 input[type="radio"] + label {
    color: #999999;
}

.wrapper.style2 input[type="checkbox"] + label:before,
.wrapper.style2 input[type="radio"] + label:before {
    background-color: rgba(144, 144, 144, 0.075);
    border-color: #e6e6e6;
}

.wrapper.style2 input[type="checkbox"]:checked + label:before,
.wrapper.style2 input[type="radio"]:checked + label:before {
    background-color: #4696e5;
    border-color: #4696e5;
    color: #ffffff;
}

.wrapper.style2 input[type="checkbox"]:focus + label:before,
.wrapper.style2 input[type="radio"]:focus + label:before {
    border-color: #4696e5;
    box-shadow: 0 0 0 1px #4696e5;
}

.wrapper.style2 ::-webkit-input-placeholder {
    color: #e0e0e0 !important;
}

.wrapper.style2 :-moz-placeholder {
    color: #e0e0e0 !important;
}

.wrapper.style2 ::-moz-placeholder {
    color: #e0e0e0 !important;
}

.wrapper.style2 :-ms-input-placeholder {
    color: #e0e0e0 !important;
}

.wrapper.style2 .formerize-placeholder {
    color: #e0e0e0 !important;
}

.wrapper.style2 .icon {
    color: #e0e0e0;
}

.wrapper.style2 .image {
    box-shadow: 0 0 0 4px #fbfbfb, 0 0 0 5px #e6e6e6;
}

.wrapper.style2 .image.phone {
    box-shadow: none;
}

.wrapper.style2 .image.phone .inner, .wrapper.style2 .image.phone:before, .wrapper.style2 .image.phone:after {
    border-color: #e6e6e6;
}

.wrapper.style2 .image.phone .inner:before {
    background: #e6e6e6;
}

.wrapper.style2 .image.phone .inner:after {
    border-color: #e6e6e6;
}

.wrapper.style2 ul.alt > li {
    border-top-color: #e6e6e6;
}

.wrapper.style2 table tbody tr {
    border-color: #e6e6e6;
}

.wrapper.style2 table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

.wrapper.style2 table th {
    color: #828282;
}

.wrapper.style2 table thead {
    border-bottom-color: #e6e6e6;
}

.wrapper.style2 table tfoot {
    border-top-color: #e6e6e6;
}

.wrapper.style2 table.alt tbody tr td {
    border-color: #e6e6e6;
}

.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
    color: #999999;
}

.wrapper.style2 a {
    color: inherit;
    border-bottom-color: #d6d6d6;
}

.wrapper.style2 a:hover {
    color: #4696e5;
}

.wrapper.style2 strong, .wrapper.style2 b {
    color: #828282;
}

.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
    color: #828282;
}

.wrapper.style2 blockquote {
    border-left-color: #e6e6e6;
}

.wrapper.style2 code {
    background: rgba(144, 144, 144, 0.075);
    border-color: #e6e6e6;
}

.wrapper.style2 hr {
    border-bottom-color: #e6e6e6;
}

.wrapper.style3 {
    background-color: #f7f7f7;
    color: #999999;
}

.wrapper.style3 input[type="submit"],
.wrapper.style3 input[type="reset"],
.wrapper.style3 input[type="button"],
.wrapper.style3 button,
.wrapper.style3 .button {
    background-color: transparent;
    color: #828282 !important;
    box-shadow: inset 0 0 0 2px #d6d6d6;
}

.wrapper.style3 input[type="submit"]:hover,
.wrapper.style3 input[type="reset"]:hover,
.wrapper.style3 input[type="button"]:hover,
.wrapper.style3 button:hover,
.wrapper.style3 .button:hover {
    background-color: rgba(144, 144, 144, 0.075);
}

.wrapper.style3 input[type="submit"]:active,
.wrapper.style3 input[type="reset"]:active,
.wrapper.style3 input[type="button"]:active,
.wrapper.style3 button:active,
.wrapper.style3 .button:active {
    background-color: rgba(144, 144, 144, 0.15);
}

.wrapper.style3 input[type="submit"].special,
.wrapper.style3 input[type="reset"].special,
.wrapper.style3 input[type="button"].special,
.wrapper.style3 button.special,
.wrapper.style3 .button.special {
    box-shadow: none;
    background-color: #4696e5;
    color: #ffffff !important;
}

.wrapper.style3 input[type="submit"].special:hover,
.wrapper.style3 input[type="reset"].special:hover,
.wrapper.style3 input[type="button"].special:hover,
.wrapper.style3 button.special:hover,
.wrapper.style3 .button.special:hover {
    background-color: #5ca3e8;
}

.wrapper.style3 input[type="submit"].special:active,
.wrapper.style3 input[type="reset"].special:active,
.wrapper.style3 input[type="button"].special:active,
.wrapper.style3 button.special:active,
.wrapper.style3 .button.special:active {
    background-color: #3089e2;
}

.wrapper.style3 label {
    color: #828282;
}

.wrapper.style3 input[type="text"],
.wrapper.style3 input[type="password"],
.wrapper.style3 input[type="email"],
.wrapper.style3 select,
.wrapper.style3 textarea {
    color: inherit;
    background-color: rgba(144, 144, 144, 0.075);
    border-color: #d6d6d6;
}

.wrapper.style3 input[type="text"]:focus,
.wrapper.style3 input[type="password"]:focus,
.wrapper.style3 input[type="email"]:focus,
.wrapper.style3 select:focus,
.wrapper.style3 textarea:focus {
    border-color: #4696e5;
    box-shadow: 0 0 0 1px #4696e5;
}

.wrapper.style3 .select-wrapper:before {
    color: #d6d6d6;
}

.wrapper.style3 input[type="checkbox"] + label,
.wrapper.style3 input[type="radio"] + label {
    color: #999999;
}

.wrapper.style3 input[type="checkbox"] + label:before,
.wrapper.style3 input[type="radio"] + label:before {
    background-color: rgba(144, 144, 144, 0.075);
    border-color: #d6d6d6;
}

.wrapper.style3 input[type="checkbox"]:checked + label:before,
.wrapper.style3 input[type="radio"]:checked + label:before {
    background-color: #4696e5;
    border-color: #4696e5;
    color: #ffffff;
}

.wrapper.style3 input[type="checkbox"]:focus + label:before,
.wrapper.style3 input[type="radio"]:focus + label:before {
    border-color: #4696e5;
    box-shadow: 0 0 0 1px #4696e5;
}

.wrapper.style3 ::-webkit-input-placeholder {
    color: #b0b0b0 !important;
}

.wrapper.style3 :-moz-placeholder {
    color: #b0b0b0 !important;
}

.wrapper.style3 ::-moz-placeholder {
    color: #b0b0b0 !important;
}

.wrapper.style3 :-ms-input-placeholder {
    color: #b0b0b0 !important;
}

.wrapper.style3 .formerize-placeholder {
    color: #b0b0b0 !important;
}

.wrapper.style3 .icon {
    color: #b0b0b0;
}

.wrapper.style3 .image {
    box-shadow: 0 0 0 4px #f7f7f7, 0 0 0 5px #d6d6d6;
}

.wrapper.style3 .image.phone {
    box-shadow: none;
}

.wrapper.style3 .image.phone .inner, .wrapper.style3 .image.phone:before, .wrapper.style3 .image.phone:after {
    border-color: #d6d6d6;
}

.wrapper.style3 .image.phone .inner:before {
    background: #d6d6d6;
}

.wrapper.style3 .image.phone .inner:after {
    border-color: #d6d6d6;
}

.wrapper.style3 ul.alt > li {
    border-top-color: #d6d6d6;
}

.wrapper.style3 table tbody tr {
    border-color: #d6d6d6;
}

.wrapper.style3 table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

.wrapper.style3 table th {
    color: #828282;
}

.wrapper.style3 table thead {
    border-bottom-color: #d6d6d6;
}

.wrapper.style3 table tfoot {
    border-top-color: #d6d6d6;
}

.wrapper.style3 table.alt tbody tr td {
    border-color: #d6d6d6;
}

.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
    color: #999999;
}

.wrapper.style3 a {
    color: inherit;
    border-bottom-color: #c6c6c6;
}

.wrapper.style3 a:hover {
    color: #4696e5;
}

.wrapper.style3 strong, .wrapper.style3 b {
    color: #828282;
}

.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
    color: #828282;
}

.wrapper.style3 blockquote {
    border-left-color: #d6d6d6;
}

.wrapper.style3 code {
    background: rgba(144, 144, 144, 0.075);
    border-color: #d6d6d6;
}

.wrapper.style3 hr {
    border-bottom-color: #d6d6d6;
}

@media screen and (max-width: 980px) {

    .wrapper {
        padding: 4em 4em 2em 4em ;
    }

    .wrapper > .inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) and (orientation: landscape) {

    .wrapper {
        padding: 3em 3em 1em 3em ;
    }

}

@media screen and (max-width: 736px) and (orientation: portrait) {

    .wrapper {
        padding: 3em 1.5em 1em 1.5em ;
    }

}

@media screen and (max-width: 480px) and (orientation: landscape) {

    .wrapper {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}

@media screen and (max-width: 480px) and (orientation: portrait) {

    .wrapper {
        padding: 2em 1em 0.1em 1em ;
    }

}


.spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 0 2em 0;
}

.spotlight .image {
    width: 30%;
    border-radius: 2%;
    margin: 0 3em 0 0;
    display: block;
}
.spotlight .image img {
    display: block;
    border-radius: 1%;
    width: 100%;
}
.spotlight .imageTH {
    border-radius: 2%;
    margin: 0 3em 0 0;
    display: block;
}

.spotlight .imageTH img {
    display: block;
    border-radius: 1%;
    width: 100%;
}

.spotlight .content {
    width: 70%;
}

.spotlight .content > :last-child {
    margin-bottom: 0;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight:nth-child(2n) .image {
    margin: 0 0 0 3em;
}

.spotlight:nth-child(2n) .content {
    text-align: right;
}

@media screen and (max-width: 736px) and (orientation: landscape) {

    .spotlight .image {
        margin: 0 2em 0 0;
    }

    .spotlight:nth-child(2n) .image {
        margin: 0 0 0 2em;
    }

}

@media screen and (max-width: 736px) and (orientation: portrait) {

    .spotlight {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .spotlight .image {
        width: 100%;
        max-width: 60%;
        margin: 0 0 2em 0 !important;
    }

    .spotlight .content {
        width: 100%;
        text-align: center !important;
    }

}

.at4-follow-inner{ display: none !important;}