
div.gallery-tz {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 170px;
}


div.gallery-tz:hover {
  border: 1px solid #777;
}

div.gallery-tz img {
  width: 100%;
  height: auto;
}

div.desc-tz {
  padding: 0px;
  text-align: left;
  width:400px;
}

.section-banner-magazine-tz{
	background-image:url("../images/bg_magazine.jpg");
	height:170px;
}

.section-banner-engineer-tz{
	background-image:url("../images/bg_engineer.jpg");
	height:170px;
}

.section-banner-annual-tz{
	background-image:url("../images/bg_annual.jpg");
	height:170px;
}

.section-banner-journal-tz{
	background-image:url("../images/bg_journal.jpg");
	height:170px;
}
