.scholarship_banner_wadud{
    position: relative;
    background-image: url("../../assets/images/scholarship_banner.jpg");
    padding: 8% 10px;
}

.scholarship_banner_technical_wadud{
    position: relative;
    background-image: url("../../assets/images/technical_activities_banner.jpg");
    padding: 8% 10px;
}

.scholarship_banner_award_wadud{
    position: relative;
    background-image: url("../../assets/images/awards_homours.jpg");
    padding: 8% 10px;
}



.scholarship_banner_title_wadud{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.jb_breadcrumb_wadud {
    position: absolute;
    bottom: -5%;
    left: 4%;
    font-size: 1.5rem;
}

.bi_wadud{
    color: #fff !important;
}

.scholarship_list_wadud{
    height: 150px;
    vertical-align: center;
}

.right_menue_wadud li a:hover{
    color: black;
}

.nav-item hr{
    margin: 2px 0;
}