/*============           banner_wrap               ==================*/

.banner_wrap {
    position: relative;
    background-image: url(../images/banner_img.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(70deg, $brand-color 62%, transparent 39%);
        opacity: 0.6;
    }
    .banner_inner {
        padding: 0;
        .banner_containt {
            margin: 150px 0 180px;
            max-width: 800px;
            .sub_title {
                color: $primary-color;
                font-size: 18px;
                line-height: 18px;
                font-family: $psr;
                margin-bottom: 10px;
            }
            .title {
                color: $primary-color;
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
                font-family: $psb;
                margin-bottom: 30px;
            }
            .details {
                color: $primary-color;
                font-size: 18px;
                line-height: 18px;
                text-transform: uppercase;
                font-family: $psr;
                margin-bottom: 48px;
            }
            .btn_group {
                .btn_glob {
                    color: $primary-color;
                    font: 400 16px/18px $psr;
                    background: transparent;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                    padding: 15px 30px;
                    margin-right: 25px;
                    margin-bottom: 20px;
                    transition: all 0.5s;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.btn_more {
                        background: #ff9000;
                        border-color: #ff9000;
                        &:hover {
                            background: transparent;
                            border-color: $primary-color;
                        }
                    }
                    &.btn_apply {

                    }
                    
                    &:hover {
                        background: #ff9000;
                        border-color: #ff9000;
                    }
                }
            }
        }
    }
    
    
    .banner_caption {
        background: rgba(9,47,145,0.6);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px 0 9px;
        width: 100%;
        p {
            color: $primary-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
        }
    }
    
}