/*=================    header style ==========================*/


header.header {
    background: $primary-color;
    padding: 20px 0 0;
    .header_left {
        padding-left: 0;
        .logo {
            a {
                display: inline-block;
                img {
                    max-width: 75px;
                    width: 100%;
                    margin-top: 4px;
                }
            }
        }
    }
    .header_right {
        padding-left: 30px;
        padding-right: 0;
        .header_top_wrap {
            border-bottom: 1px solid #ebebeb;
            .navbar {
                padding: 0 0 20px;
                .header_top_menu {
                    li {
                        a {
                            display: inline-block;
                            margin-right: 50px;
                            text-decoration: none;
                            color: #666666;
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            transition: all 0.5s;
                            span {
                                display: inline-block;
                            }
                            .icon {
                                margin-right: 10px;
                                img {
                                    max-width: 27px;
                                    width: 100%;
                                }
                            }
                            .text {
                                
                            }
                        }
                        &:last-child {
                            a {
                                margin-right: 0;
                            }
                        }
                        
                        &:hover {
                            a {
                                color: $brand-color;
                            }
                        }
                        
                        
                    }
                }
                .form-inline {
                    .search_input {
                        border: 1px solid #ebebeb;
                        border-radius: 5px;
                        position: relative;
                        margin-right: 35px;

                        .form-control {
                            border: none;
                            width: 500px;
                            padding-left: 48px;
                            height: 38px;
                            color: #666666;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 18px;
                            &:focus {
                                box-shadow: none;
                            }
                            
                            &::-moz-placeholder {
                                color: #aeaeae;
                            }
                            
                            &::-webkit-input-placeholder {
                                color: #aeaeae;
                            }
                            
                            &:placeholder {
                                color: #aeaeae;
                            }
                        }
                        a {
                            position: absolute;
                            left: 20px; 
                            img {
                                max-width: 18px;
                            }
                        }
                    }
                    a {
                        display: inline-block;
                        color: #666666;
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 400;
                        text-decoration: none;
                        transition:  all 0.5s;
                        &:hover {
                            color: $brand-color;
                        }
                        img {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                    &.search_form {
                        .login {
                            img {
                                max-width: 18px;
                                width: 100%;
                            }
                        }
                    }
                }

            }
        }
        .header_bottom_wrap {
            .navbar {
                padding: 13px 0 0;
                .navbar-toggler {

                }
                .navbar-collapse {
                    .header_main_menu {
                        li {
                            padding-bottom: 19px;
                            a {
                                color: #666666;
                                font-size: 16px;
                                line-height: 18px;
                                font-weight: 400;
                                text-decoration: none;
                                display: inline-block;
                                margin-right: 45px;
                                transition: all 0.5s;
                                &:hover {
                                    color: $brand-color;
                                }
                            }
                            &:last-child {
                                a {
                                    margin-right: 0;
                                }
                            }
                            
                            
                            &.dropdown {
                                .dropdown-toggle {
                                    &:after {
                                        display: none;
                                    }
                                }

                                .dropdown-menu.mega_menu {
                                    min-width: 600px;
                                    padding: 20px 30px;
                                    position: absolute;
                                    top: 41px;
                                    border: none;
                                    .mega_menu_item {
                                        display: inline-block;
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                        width: 50%;
                                        li {
                                            padding-bottom: 7px
                                        }
                                    }
                                }
                                &:hover {
                                    .dropdown-menu.mega_menu {
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}



.btn_right {
    
    .navbar-toggler  {
        height: 20px;
        position: absolute;
        right: 0;
        top: 43px;
        z-index: 1080;
        &:focus {
            outline: none;
        }
        
        .bar {
            position: absolute;
            width: 100%;
            right: 0;
            height: 2px;
            background: #666;
            width: 25px;
            transition: all 0.5s;
            
            &.bar-1 {
                top: 0;
                width: 40px;
            }
            
            &.bar-2 {
                top: 50%;
                transform: translateY(-50%);
            }
            
            &.bar-3 {
                bottom: 0;
                top: auto;
                width: 30px;
            }
        }
        &[aria-expanded="true"] {
            .bar{
                background: $brand-color;
                &.bar-2 {
                    width: 45px;
                }
            }
        }
    }
}


/*=================    header style ==========================*/

