


/* fonts  */

@font-face {
    font-family: 'product_sansbold';
    src: url('../fonts/product_sans_bold.woff2') format('woff2'),
         url('../fonts/product_sans_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'product_sansregular';
    src: url('../fonts/product_sans_regular.woff2') format('woff2'),
         url('../fonts/product_sans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*fonts Variables*/

$psb                :        'product_sansbold';
$psr                :        'product_sansregular';



/*Color Variables*/

$primary-color      :        #fff;
$brand-color        :        #00a0ea;
$dark               :        #666666;
