 body{ box-sizing: border-box}
    /*.center_body{font-family:Arial,sans-serif !important;}*/
.pgHead{color: #756767; margin: 15px 0px; font-size: 25px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px 10px;
}
.cartBadge{border-radius: 50%;background: black; color:white;}
.tblNew table tr td img, .tbl-payment table tr td img {height: 73px;}
.tblNew>.table>thead>tr>th {border-bottom: 1px solid #000; font-size: 16px;}
 table tr td{color: #797979;font-size: 15px;}
.priceTxt{font-size:18px;color: #000;     line-height: 0;}
.noramalWhiteSpace {white-space: normal;padding-left: 0px; padding-right: 0px; /*margin-top: 10px;*/}
#cart_tb img{border-radius: 6px;max-width: 116px; width: 100%;}
.cartTable{border-radius: 10px 10px 10px 10px;
    border-spacing: 0px; border-collapse: separate; overflow:hidden;}
.cartTable thead{color: black; border-radius: 10px;}
.cartTable th{
    padding: 5px 10px !important;
    vertical-align: middle !important;
    font-weight: 300;
}
.emptyCartContentWrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0 !important;
}
.continueShopping{
  display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 37px;
}
.badge-coupon{color: white; background: #9c9c9c; padding: 0.26em .8em; border-radius: 50px;}
.cartcpn_old_disc_amt{color: white; background: #f7b679; padding: 0.26em .8em; border-radius: 50px;}
.cartTable td{vertical-align: middle;}
.checkoutBtn,.checkoutBtn:hover{ color:#000 !important; font-size: 1.3rem;}
@media(max-width:778px){.noramalWhiteSpace {padding-left:0px;}}
@media(max-width:576px){.tblNew table tr td img.mobhide_crt{display:none;}.tblNew>.table>thead>tr>th{font-size:16px;}

.noramalWhiteSpace{
    margin-left: 15px !important;
    padding-left: 0px !important;
    left: 0px !important;
}
}
@media(max-width:750px){.tblNew>.table>thead>tr>th{font-size:16px;}}
#div_pricing .card{
  border:1px solid #ddd; 
  padding:20px !important; 
  margin-bottom: 20px; 
  box-shadow: none;
}
#div_pricing{margin-top: 10px !important;}
.dottedBorder{border:1px dotted #ccc;}
.dashBorder{border:1px dashed #ccc;}
.headTwo{font-size: 16px; margin: 15px 0px; font-weight: bold;}
.marginTpBtm0{margin-top: 0px; margin-bottom: 0px;}
.fntBold{font-weight: bold;}
.borderBtm{border-bottom: 1px solid #ccc;}
.btmPdm10{padding-bottom: 10px;}
.cartTtl tr td{padding:15px 0px;}
.cartTtl tr td:nth-child(2){text-align: right;}
.pt0{padding-top: 0px !important;}
.pb0{padding-bottom: 0px !important;}
.blackTxt{color:#000;}
.valignBtm{vertical-align: bottom;}
.fnt18{font-size:18px;}
.fnt22{font-size:22px;}
.block{display:block;}
.inlneBlock{display:inline-block;}
.btnApply{background-color:#000!important; color:#fff!important; margin-left: 10px; padding:8px 19px;}
.bdrRds0{border-radius: 0px;}
.cartTtl table tr:first-child td{border-bottom: 1px solid #ccc;}
.cursPt{cursor: pointer}
.btnPro{background-color:#ff5722; font-weight: bold; color:#5e2606 !important;padding:10px 20px; font-size:18px;-webkit-box-shadow: 0 1px 0 -9px #fff6af;
    box-shadow: 0 1px 0 -9px #fff6af;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.05,#fcc24e),color-stop(1,#f59e3b));
    background: -moz-linear-gradient(top,#fcc24e 5%,#f59e3b 100%);
    background: -webkit-linear-gradient(top,#fcc24e 5%,#f59e3b 100%);
    background: -o-linear-gradient(top,#fcc24e 5%,#f59e3b 100%);
    background: -ms-linear-gradient(top,#fcc24e 5%,#f59e3b 100%);
    background: linear-gradient(to bottom,#fcc24e 5%,#f59e3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcc24e',endColorstr='#f59e3b',GradientType=0);
    background-color: #fcc24e; }
.btnPro:hover{    background: -webkit-gradient(linear,left top,left bottom,color-stop(.05,#f59e3b),color-stop(1,#fcc24e));
    background: -moz-linear-gradient(top,#f59e3b 5%,#fcc24e 100%);
    background: -webkit-linear-gradient(top,#f59e3b 5%,#fcc24e 100%);
    background: -o-linear-gradient(top,#f59e3b 5%,#fcc24e 100%);
    background: -ms-linear-gradient(top,#f59e3b 5%,#fcc24e 100%);
    background: linear-gradient(to bottom,#f59e3b 5%,#fcc24e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f59e3b',endColorstr='#fcc24e',GradientType=0);
    background-color: #f59e3b}
.group .errField:before, .group .errField:after{background:red!important;}
.group .errBdr{border-bottom: 1px solid red!important;}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .noramalWhiteSpace{padding-left: 15px;}
#worldCupCart{
    padding: 10px !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
}
@media screen and (max-width: 992px) {
#worldCupCart {
    padding: 10px !important;
    }
  }
/****  floating-Lable style start ****/
.floating-label { 
  position:relative;
  /*top:10px; */
  margin-bottom:10px; 
}
.floating-input , .floating-select {
  font-size:14px;
  padding:4px 4px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none !important;
  border-bottom:1px solid #757575 !important;
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #f38605 !important; 
}

.lblFloating {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input:focus ~ .lblFloating, .floating-input:not(:placeholder-shown) ~ .lblFloating {
  top:-18px;
  font-size:14px;
  color:#f38605;
}

.floating-select:focus ~ .lblFloating , .floating-select:not([value=""]):valid ~ .lblFloating {
  top:-18px;
  font-size:14px;
  color:#f38605;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 30px;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
}

/* highlighter */
.highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/****  floating-Lable style end ****/
@media screen and (max-width: 1199px){.floating-label{width:100%;}}
@media screen and (max-width: 1005px){.group{width:100%;}}
.transparantBgLayer {top: 0;text-align: center; background-color: rgba(0,0,0,.4);padding: 10px;position: absolute; width: 100%; height: 100%;}
.transparantBgLayer img {top: 250px; position: fixed;}
.btnShp,.btnShp:hover {margin: 10px 0;font-size: 15px; color: #fff !important; background: #4e9017 !important;}

/*Survey*/

.divSurveyLgn{background-image:url("../images/surveybg_mernedlogin_datanw.jpg");background-repeat: no-repeat;background-size: cover; background-position: center; height: calc(100vh - 175px); margin-top: 0px;background-color: #010a0e;}
.ht100pc{height:100%;}
.divFlexsrv {display: flex; justify-content: center; align-items: center;  height: 100%;}
.divFlexSurvey .badge{font-size:16px; font-weight: normal;}

.surveyHead{font-size:30px; color:#ffb850; margin-top: 10px; margin-bottom: 30px;}
.lblLgn{color:#fff; font-size: 14px; margin-left:7px;display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;}
.txtSurvey{padding:10px 12px; border-radius: 4px; width:75%;}
.btnSurvey{padding:10px 20px !important; color:#828282 !important; background-color: #ebebeb;border-radius: 4px;width: 150px; margin-left: 10px; vertical-align: top;position: relative;}
.secSurveyHme{background-image:url("../images/surveybg_merned.jpg");padding: 30px 20px 200px 20px; display:table; width:100%;background-repeat: no-repeat;background-size: cover; background-position: right;background-color: #444;}
.divHomeSurvey{display: table-cell; text-align: center;}
.surveyHmeHead{color:#fff; font-size:40px; font-weight: normal;font-family: 'Poppins', sans-serif !important;}
.surveyNav{width:50% !important; margin:auto;border-bottom: none!important;}
.nav-tabs.surveyNav>li>a{border-bottom: none !important;border-radius: 0px !important;}
.surveyNav>li.active>a, .surveyNav>li.active>a:focus, .surveyNav>li.active>a:hover{background-color: #80b637!important; border-color: #80b637 !important; font-size:15px; color:#fff;}
.surveyNav>li{}
.surveyNav>li>a{background-color: #1a2833; color: #fff!important; margin-left: 2px; font-weight: bold;line-height: 2.5;}
.surveyNav>li>a:focus, .surveyNav>li>a:hover{background-color: #1a2833!important; border-color:#1a2833 !important; }
.surveyCnt{margin: auto; margin-bottom: 30px; border-radius:5px; width: 95%; background-color: #fff; padding: 30px;-webkit-box-shadow: 0px 0px 20px #7d7979;box-shadow: 0px 0px 20px #7d7979;}
.surveyPnl{background-color: #ebebec;border:1px solid #ccc;}
.lblUrPledge{background-color: #555555;padding: 5px 25px; font-size: 14px; color: #fff; font-weight: normal;}
.lblPrc{color:#78af2d; font-size: 80px;margin-bottom: 0px;margin-top: -25px;display: inline-block;max-width: 100%;font-weight: 700;}
.lblPrcSec{color:#78af2d; font-size: 50px;display: inline-block;max-width: 100%;font-weight: 700;}
.headName{margin: 0px;font-size: 18px; text-align: center; margin-top: -24px;font-weight: bold;}
.primary{color:#000; font-size:15px;}
.priSubHead{color:#5f5f5f;}
.secondary{color:#9e9898; font-size:15px;}
.bgWhite{background-color: white;}
.mgt0{margin-top: 0px;}
.mgb0{margin-bottom: 0px;}
.mgrb20{margin-bottom: 20px}
.rdSelect{height: 25px; width: 25px; margin-top: 70px !important;}
.mgrT20{margin-top: 20px !important;}
.mgrT10{margin-top: 10px !important;}
.pad30{padding:30px;}
.surQue label{font-size: 15px;font-weight: bold;color: #71a727;margin-bottom: 10px;display: block;}
.queGrp label {color: #000; margin-bottom: 0px; font-weight: normal;}
.queGrp .input-lg { width: 100%;height: 46px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;background: #fff;opacity: 1;border: 1px solid #ccc !important;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:15px 10px;}

    .tbl-Extrs table tr th{font-size: 18px; color:#242424; font-weight: bold;}
    .tbl-Extrs table tr td:first-child{color: #313030;font-weight: bold;text-align:left; border:0px;}
    .tbl-Extrs table tr td:nth-child(2){color: #313030; font-size:18px;font-weight: bold;}
    .tbl-Extrs table tr td{vertical-align: middle; color:#313030;}
    .tbl-Extrs table tr td img,.tbl-payment table tr td img{height: 73px; width: 100px;}
    td .btn-add{margin-bottom: 0px;}
    .tbl-Extrs table tr td:not(:first-child), .tbl-Extrs table tr th:not(:first-child) {padding:8px 30px;}
    .noramalWhiteSpace{white-space: normal; padding-left: 20px;padding-right: 0px;}
    .tbl-payment{border:1px solid #b9bcbf; color:#000;font-size:15px;}
    .tbl-payment h4{margin:20px 10px;}
    .tbl-payment .table>thead>tr>th{background-color: #e5e5e5;color: #333; font-weight: bold; font-size: 16px;}
    .Total{text-align:right; padding-right:20px!important; font-size:20px;}
    a{cursor: pointer;}
    .tbl-Extrs .btn{width:80px;}
    .hdUpgrade{margin-bottom: 10px; font-size: 25px; color: #5f5f5f;margin-top: 37px;}
    .greenTxt{color:#80b637 !important;}
    .btn-add{background-color: #80b637 !important; color: #fff!important; position:relative;}
    .tbl-add table{margin-bottom: 0px !important;}
    .tbl-add{border: 1px solid #ddd; box-shadow: 0px 0px 20px #ccc;}
    .tbl-add tr td{font-size:16px; color:#313030; white-space: normal !important;}
    .fnt25{font-size:25px !important;}
    .divFlexSurvey{display: flex; align-items: flex-start; height: 73px; flex-direction: column;justify-content: center;}
    .divFlexSurvey a, .divFlexSurvey label{color:#313030; font-size:16px;font-weight: normal;}
    .tblExt-total tr td{color:#313030; font-size: 16px; padding-top: 20px;}
    .payConfirm{color:#242424; font-size:16px;font-weight:normal;}
    .borderShadow{-webkit-box-shadow: 0px 0px 2px #7d7979;box-shadow: 0px 0px 2px #7d7979;}
    .spnRound{display: flex; height: 30px; width: 30px; border: 1px solid #948e8e; color: #756e6e; align-items: center; justify-content: center; border-radius: 50%;}
    .paymentTblBg{background-color:#203543;}
    .whiteTxt{color:#fff !important;}
    .txtGray{color:#999 !important;}
    .bgPaymentTbl{background-color: #f3f3f3;}
    .width80pc{width:80%;}
    .paymentTtlTbl{background-color: #f3f3f3;}
    .paymentTtlTbl table{margin-bottom: 0px;}
    .paymentTtlTbl tr td{font-size:16px; color:#313030; font-weight: bold; border:1px solid #ccc; border-left:0px; border-top:0px; border-bottom:0px;}
    .paymentTtlTbl tr td:last-child{padding: 15px 13px 15px 10px !important;}
    .fnt20{font-size:20px !important;}
    .mb20{margin-bottom: 20px;}
    .mt5{margin-top:5px;}
    .spnTips{margin-right: 30px;margin-bottom: 5px;}
     .navRound{display: inline-flex;width: 20px;height: 20px; border: 1px solid #fff; border-radius: 50%; font-size: 12px; vertical-align: middle; box-sizing: border-box;align-items: center;justify-content: center;}
    .active .navRound{background-color: #fff; color:#80b637; }
    .spnLoader img {position: absolute; left: 50%; margin-left: -13px;width: 25px; height: 25px;}
    .spnStrike{color: #ccc;font-weight: normal;margin-right: 10px;font-size: 20px;}
    .tbl-Extrs .divrow{padding: 15px 10px; border-top:1px solid #ddd;}
    .tbl-Extrs .divrow:first-child{border:0px;font-size: 18px;color: #242424;font-weight: bold;}
    .oldPrice{color: #9e9898;font-size: 35px;text-decoration: line-through;font-weight: normal;}
    @media screen and (max-width: 768px){#shwpaydiv{border-top:1px solid #b9bcbf;}.surveyCnt .table-responsive{border:0px !important;}.divFlexSurvey{height:auto; left: -12px;}.table-responsive{border:0px !important}.mobileHide{display:none;}.divFlexSurvey a{margin-bottom: 5px;}.tbl-Extrs .btn{margin-top: 5px;}.divEmptyCode{text-align:center;}}
    @media screen and (max-width: 767px){.tbl-Extrs table tr td:not(:last-child) img, .tbl-payment table tr td:not(:last-child) img{display:none;}}
    @media screen and (max-width:700px){.divFlex>div,.divFlexsrv>div{text-align:center;}.btnSurvey{margin-top: 10px;}.surveyHmeHead{font-size:25px;}}
    @media screen and (max-width:542px){.divFlex>div,.divFlexsrv>div{text-align:center;}.btnSurvey{margin-top: 10px;}.lblLgn{margin-left: 0px;}.surveyHmeHead{font-size:25px;}.surveyCont{padding-left:5px !important; padding-right:5px !important;}.surveyCnt{width:100%;}.hdUpgrade{font-size:20px;}.cartCrsName{width:calc(70% - 15px);}}
    @media(max-width:550px){.divFlexSurvey a, .divFlexSurvey label,.amtFnt{font-size:14px !important;}.surveyHead{font-size:20px;}.divFlex,.divFlexsrv{height: 80%}.tbl-add tr td:first-child{font-size:15px;}.fnt25{font-size:18px;}.spnStrike{font-size: 15px;}}
    .bogoInfo{padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #ffffd6;
    font-size:11px; text-align: center;}
    .totalPrice{font-size: 20px;}

   