



.carousel {
  background:#007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100%;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width:100%;
}

.pnt{
  border-radius: 20px;
}
.bydo{
  width: 140px;
  box-shadow: 2px 4px #17a2b8;
}
.bydo1{
  width: 140px;
  border-radius: 3px;
  border: 1px solid #6c757d;
  box-shadow: 3px 5px #CDD8EC;
  D5D5D5
}
.icon{
  font-size: 12px;
  color: #FFE804;
}
.view{
  font-size: 12px;
  margin-top: 4px;
}
.course{
  background-color: #7F4EDB;
  border-radius: 20px;
  
}
.ba{
  bottom: -6px;
  left: 10px;
}
.ba1{
  bottom: 18px;
  right: 70px;
}
.sfx:hover{
      background-color: red;
}





.body1 {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(180deg, #45679A, #fff);
    background-repeat: no-repeat
}

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}




@media screen and (max-width: 575px){
  .p-2 {
    margin-left: 40px;
}



